/* Estilo del historial de conversaciones */
#historialContainer {
    padding: 10px;
    background: rgba(255, 255, 255, 0.2); /* Fondo con transparencia */
    backdrop-filter: blur(10px); /* Efecto desenfocado */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(14, 71, 228, 0.2);
    max-height: 300px;
    overflow-y: auto;
    border: 2px solid rgba(14, 71, 228, 0.4);
    width: 250px;
}

/* Estilo de la lista */
#historialContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo de cada conversación */
#historialContainer li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out;
}

/* Efecto hover en los elementos del historial */
#historialContainer li:hover {
    background: linear-gradient(to right, #0dafe0, #160092);
    color: white;
}

/* Estilos de los botones */
#historialContainer button {
    background: none;
    color: black;
    border: none;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/* Estilos hover para los botones */
#historialContainer button:hover {
    color: white;
}

/* Estilo específico del botón de eliminar */
#historialContainer .delete-btn {
    background: none;
    font-size: 16px;
    color: red;
    transition: color 0.3s ease-in-out;
}

#historialContainer .delete-btn:hover {
    color: white;
}