.dropdown-content-settings {
    display: none;
    position: absolute;
    /*BORDE DEL RECUADRO*/
   
   /* fondo desenfocado */
    backdrop-filter: blur(10px);
   /* background-color: transparent; */
    min-width: 160px;
    /* COLOR DE LOS BORDES DE LOS RECUADROS */
    box-shadow: 0 8px 16px 0 rgba(14, 71, 228, 0.2);
    z-index: 1;
    border: 2px;
    border-radius: 20px;
   
}

.dropdown-content-settings.show {
    display: block;
    border-radius: 20px;
   
}
